<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Daxx Test Suite. " preserve-order="true">


    <!--<test name="LocationWindow">-->
    <!--<classes>-->
    <!--<class name="com.bonial.tests.LocationWindowVisibilityTest"></class>-->
    <!--<class name="com.bonial.tests.LocationWindowFunctionalTest"></class>-->
    <!--</classes>-->
    <!--</test>-->


</suite>